_site/
.sass-cache
.ruby-version
.jekyll-cache
Gemfile.lock
_config-dev.yml
images/photothumb.db
images/posts/photothumb.db
images/YIR/photothumb.db
feed-xml-backup.txt
images/posts/Originals/gift_card_warning_flickr_jeepersmedia.jpg
images/Originals/header-image.jpg
feed.xml-backup-2.txt
images/post-images/BestBuy/Originals/aged_bestbuy.jpg
images/post-images/BestBuy/Originals/aged_target.jpg
photothumb.db
images/Originals/BestBuy_logo.jpg
