{% if page.title %}
  <div class="mb4">
    {% if page.date %}
    <div class="fw600 light-silver mt1">{{ page.date | date_to_string }}</div>
    <h1 class="f2 mt3 lh-title cb mb1"> {{ page.title }} </h1>
    <!-- <br> By: {{ site.signoff }} -->
    {% endif %}
      {% if is_post %}
      {% endif %}
    <div class="post-categories">
      {% if post %}
      {% assign categories = post.categories %}
      {% else %}
      {% assign categories = page.categories %}
      {% endif %}
      <b>Filed Under:</b>
      {% for category in categories %}
      <a href="{{site.url}}/category/{{category}}">{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
    <div class="post-categories">
      <b>Tags:</b>
      {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}">{{ tag_name }}</a>&nbsp;
      {% endfor %}
   </div>
  </div>
  {% endif %}
  <center><img src="{{ page.image | absolute_url}}"></center>
<div class="bb b--black pv2 tc"> </div>
<!-- checked 1-15-23 -->
